/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}


@font-face {
  font-family: CardinalEditionsFontText;
  font-weight: bold;
  src: url("https://cdn.glitch.global/58eb7363-5172-4c0b-9ab1-cc19cfb0fb87/05422eb499ddf5616e44a52c4f1063ae.woff2?v=1693903296019")
    format("opentype");
}


@font-face {
  font-family: CardinalEditionsFontTitle;
  font-weight: bold;
  src: url("https://cdn.glitch.global/58eb7363-5172-4c0b-9ab1-cc19cfb0fb87/Bold-875de5047556e7c822519d95d7ee692d-font.woff2?v=1693907877062")
    format("opentype");
}






/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: HK Grotesk;
  background-color: #363636;
  margin: 0px !important;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 22px;
}





.text1 {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
      font-family: "CardinalEditionsFontText";
  color: #fff;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 20px;
}


.text2 {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    font-family: "CardinalEditionsFontText";
  color: #fff;
  font-size: 22px;
  line-height: 34px;
    margin-top: 38px;
}


.text3 {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
      font-family: "CardinalEditionsFontTitle";
  color: #fff;
  text-transform: Uppercase;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 90px;
  margin-top: 85px;
}

.text4 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
      font-family: "CardinalEditionsFontText";
  color: #fff;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 35px;
  margin-top: 15px;
      background-color: rgb(0 0 0 / 56%);
}



.text6 {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    font-family: "CardinalEditionsFontText";
  color: #ffffffb0;
  font-size: 22px;
  line-height: 34px;
    margin-top: 38px;
}


a.linktext {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    font-family: "CardinalEditionsFontText";
  color: #ede821;
  font-size: 22px;
  line-height: 34px;
  text-decoration: none !important;
  padding: 0px !important; 
}




.whatwedo1 {
  background: #174bd2;
  border-radius: 80px;
  border: 1px solid #174bd2;
  padding: 12px 22px 13px 23px;
  margin-left: 4px;
  margin-right: 4px;
      font-family: "CardinalEditionsFontText";
  color: #fff;
  font-size: 22px;
    text-decoration: none !important;
      transform: rotate(8deg);

}





.whatwedo1:hover {
      cursor: none;    
  transform: scale(1.04) rotate(6deg);
    box-shadow: 0 0 0px 4px #008eff38;
}




.whatwedo2 {
  background: #EE0007;
  border-radius: 80px;
  border: 1px solid #EE0007;
  padding: 12px 22px 13px 23px;
  margin-left: 4px;
  margin-right: 4px;
      font-family: "CardinalEditionsFontText";
  color: #fff;
  font-size: 22px;
    text-decoration: none !important;
    transform: rotate(-8deg);
}


.whatwedo2:hover {
      cursor: none;
    transform: scale(1.04) rotate(-6deg);
    box-shadow: 0 0 0px 4px #008eff38;
}


.whatwedo3 {
  background: #363636;
  border-radius: 80px;
  border: 1px solid #363636;
  padding: 12px 22px 13px 23px;
  margin-left: 4px;
  margin-right: 4px;
      font-family: "CardinalEditionsFontText";
  color: #fff;
  font-size: 22px;
    text-decoration: none !important;
      transform: rotate(8deg);
}


.whatwedo3:hover {
      cursor: none;
    transform: scale(1.04) rotate(6deg);
    box-shadow: 0 0 0px 4px #008eff38;
}






/* Fichier CSS externe (styles.css) */
.container {
    display: block;
  text-align: center;
  padding: 35px;
  width: 100%;
  
  
  border-radius: 0px 0px 0px 0px;
  
  
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */  
  background: radial-gradient( farthest-side at bottom left, #7edd92, transparent 500px ), radial-gradient(farthest-side at center, #008453, transparent), radial-gradient( farthest-side at top right, #6ec500, #cdff3f, transparent 900px ), radial-gradient( farthest-side at bottom right, #eefdd1, #2aac67, transparent 900px );
}







.ambianttrigger {
    background-color: #008453; /* Arrière-plan vert */
    border-radius: 0px 0px 0px 0px;

}





.colonne {
    padding: 20px; /* Espacement interne pour un meilleur aspect */
}




        .perk {
            width: 100%; /* Largeur de la div */
            padding: 10px; /* Espacement intérieur de la div */
        }

        .image {
            max-width: 480px; /* Largeur maximale de l'image */
          margin-left: auto;
          margin-top: 20px;
          margin-bottom: 20px;
          margin-right: auto;
          text-align: center;
          justify-content: center;
        }

        .text {
            margin-top: 10px; /* Marge supérieure pour séparer l'image du texte */
        }










.custom-container {
    text-align: left;
}

.custom-level-1 {
    max-width: 200px;
    padding: 20px;
}

.custom-image {
    max-width: 360px;
    height: auto;
  text-align: left !important;
  margin-right: auto;
}

.custom-yellow-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}





        .imagetitle {
            max-width: 200px; /* Largeur maximale de l'image */
            margin-top: 45px;
        }


        .clientprod {
            max-width: 321px; /* Largeur maximale de l'image */
            margin-top: 45px;
          margin-left: auto;
          margin-right: auto;
          opacity: 0.4;
        }



/* Styles pour la div container */
.custom-container2 {
    display: grid;
  max-width: 1400px;
  margin-left: auto; 
  margin-right: auto;
    grid-template-columns: repeat(3, 2fr); /* Trois colonnes égales */
  grid-column-gap: 20px; 
  grid-gap: 20px;
  margin-top: 45px;
    margin-bottom: 90px;
   padding: 10px;
}

/* Styles pour chaque colonne */
.custom-column2 {
    max-height: 600px;
  height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    background-size: cover;
    background-position: center bottom;
  border-radius: 12px;
  box-shadow: 0px 3px 6px #2a2d35;
}


.custom-column2:hover {
  cursor: none;
    transform: scale(1.01);
    box-shadow: 0 0 0px 4px #008eff38;
}

/* Styles pour le texte dans chaque colonne */
.custom-column2 p {
    text-align: center;
    padding: 10px;
}

/* Définition de l'image de fond en utilisant les attributs de données personnalisés */
.custom-column2[data-bg-image] {
    background-image: url(attr(data-bg-image)); /* Utilisation de l'attribut de données pour l'URL de l'image de fond */
}











        .process {
            max-width: 560px; /* Largeur maximale de l'image */
            margin-left: auto;
            margin-right: auto;
padding: 10px;
        }







        .stage {
        text-align: center;
            width: 100%; /* Largeur de la div */
border: 1px solid #414141;
    border-radius: 12px;
    background: #323232;
    padding: 30px;
          margin-bottom: 30px;
          cursor: pointer;
box-shadow: 20px -1px 2.74416px rgb(48 48 48 / 3%), -2px 11px 5.48831px rgb(61 61 61 / 4%), 0px -18px 10.9766px rgb(60 60 60 / 5%), 0px 14px 20.5812px rgb(58 58 58 / 6%), 0px 12px 41.1623px rgb(61 61 61 / 7%), -20px 0px 89.1851px rgb(38 38 38 / 9%);

}


        .stage:hover {
        border: 1px solid #4e4e4e;
    background: #373737;
          transform: scale(1.01);
    box-shadow: 0 0 0px 4px #008eff38;
        }



        .stageimage {
            max-width: 300px; /* Largeur maximale de l'image */
          margin-top: 30px;
          margin-bottom: 0px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }

        .stagetext {
            margin-top: 10px; /* Marge supérieure pour séparer l'image du texte */
        }




        .footer2 {
                      max-width: 1400px; /* Largeur maximale de l'image */
                      margin-left: auto;
            margin-right: auto;
            padding: 10px; /* Espacement intérieur de la div */
          margin-bottom: 10px;
          margin-top: 80px;
}






.cristalinefooter {
    color: #5d5c69;
    font-size: 12px;
    font-family: "saasduoPAR" !important;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 23px;
    cursor: default;
}




.cristalinefooterlink {
    color: #06f;
    font-size: 12px;
    font-family: "saasduoPAR" !important;
    text-decoration: none !important;
}








.containerbtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
    border-top: 1px solid #41414180;
grid-template-columns: repeat(2, 1fr);

}

.buttonred {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: none;
  border-right: 1px solid #41414180;
  cursor: pointer;
    background-color: #36363673;
  height: 72px;
    border-radius: 0px 0px 0px 12px;
      font-family: "CardinalEditionsFontText";
  color: #fff;
  font-size: 22px;
  width: 50%;
}


.buttonred:hover {
  background-color: #174bd2;
  border-radius: 0px 0px 0px 12px;
}




.buttongreen {
    width: 50%;

  flex: 1;
  text-align: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #36363673;
    height: 72px;
    border-radius: 0px 0px 12px 0px;
        font-family: "CardinalEditionsFontText";
  color: #fff;
  font-size: 22px;

}


.buttongreen:hover {
  background-color: #008453;
  border-radius: 0px 0px 12px 0px;
}




.stage-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}




table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 0px dashed #414141;

}

tr {
    cursor: none;
}


tr:hover {
    background: #008eff38;
}




td:first-child {
    width: 70%;
}

td:last-child {
    width: 30%;
}


.texttab {
  font-family: "CardinalEditionsFontText";
  color: #fff;
  text-align: left !important;
      padding: 2px 2px 2px 25px;
    font-size: 22px;
      line-height: 34px;

}


.texttab2 {
  font-family: "CardinalEditionsFontText";
  color: #fff;
  text-align: right !important;
      padding: 2px 25px 2px 15px;
    font-size: 22px;
white-space: nowrap;
}



.blob {
white-space: nowrap;
}



  .page-cost {
  background: #008453;
}




.subpagetit {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "CardinalEditionsFontText";
    color: #fff;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 33px;
  margin-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}


.custom-image2 {
    max-width: 360px;
    height: auto;
  text-align: center !important;
  margin-right: auto;
  margin-right: auto;
}



.initialzone {
  text-align: center !important;
}




.subpagetit2 {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "CardinalEditionsFontText";
    color: #fff;
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 33px;
  margin-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
